@font-face { font-family: 方正正中黑简体; src: url('/font/方正正中黑简体.ttf'); }
.A {
    :global {
        .page-box {
            border: 1px solid #5B83AD;
            transform: translateX(20px);
            border-radius: 25px;
            background: url('/images/02.jpg');
            height: 102px;
            font-family: 方正正中黑简体;

            /* 测试code */
        }
    }
}
